<div class="col-md-12 col-sm-12 col-xs-12">
    <div uib-carousel>
        <div uib-slide ng-repeat="slide in ctrl.slides()" active="slide.active">
            <div >
                <div>
                    <img ng-src="{{slide.image}}" style="float: left;">
                </div>
                <div >
                        <img ng-src="{{ctrl.slides()[$index+1].image}}"  style="float:left;width: 200px;" >
                </div>
                <div >
                    <img ng-src="{{ctrl.slides()[$index+2].image}}" style="float:left;width: 200px" >
                </div>

                <div >
                    <img ng-src="{{ctrl.slides()[$index+3].image}}" style="float:left;width: 200px" >
                </div>

                <div >
                    <img ng-src="{{ctrl.slides()[$index+4].image}}" style="float:left;width: 200px" >
                </div>
                <div >
                    <img ng-src="{{ctrl.slides()[$index+5].image}}" style="float:left;width: 200px" >
                </div>
                <div class="carousel-caption">
                    <h4>Slide {{$index}}</h4>
                    <a href="{{slide.url}}">View More</a>
                </div>
            </div>
        </div>
    </div>
            </div>